body {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }
    
    #myCanvas {
        border: none;
        letter-spacing: 0px; 
    }

    #box {
    	position: absolute;
    	color: #000000;
    	background-color: #ffffff;
    	bottom: 20px;
    	right: 20px;
    	width: 290px;
    	height: 80px;
    	padding: 10px;
    }

@font-face {
    font-family: 'Geo';
    src: url('geo-webfont.eot');
    src: url('geo-webfont.eot?#iefix') format('embedded-opentype'),
         url('geo-webfont.woff') format('woff'),
         url('geo-webfont.ttf') format('truetype'),
         url('geo-webfont.svg#georegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
